In [29]:
import pandas as pd
from sqlalchemy import create_engine, text

DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432
url=f'postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}'
engine = create_engine(url)
connection = engine.connect()
query_3_1 = f'''
    select count(*)
    from vacancies
    '''
df = pd.read_sql_query(text(query_3_1), connection)
print(df)

   count
0  49197

In [26]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)
# код запроса представляет из себя строковую переменную
table_schema = 'public'
query = f'''
    select 'select * from '||t.table_schema||'.'||t.table_name||';' query
    from information_schema.tables t
    where table_schema = '{table_schema}'
    '''
# лучше использовать f-строки — так удобнее передавать параметры

# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

C:\Users\Александр\AppData\Local\Temp\ipykernel_58232\542183596.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                                         query
0                 select * from public.t_tab1;
1                 select * from public.t_tab2;
2             select * from public.operations;
3                select * from public.table_1;
4           select * from public.films_recent;
5                 select * from public.cities;
6              select * from public.employers;
7   select * from public.employers_industries;
8             select * from public.industries;
9              select * from public.vacancies;
10                 select * from public.areas;
11          select * from public.ds_vacancies;